﻿<!DOCTYPE html>
<html>
<head>
    <title>Markdown Viewer</title>
    <meta charset="utf-8" />
    <link href="styles\bootstrap.min.css" rel="stylesheet" />
    <link href="styles\shCore.css" rel="stylesheet" />
    <link href="styles\shCoreDefault.css" rel="stylesheet" />
    <link href="styles\simplemde.min.css" rel="stylesheet" />
    <link href="styles\font-awesome.min.css" rel="stylesheet" />
    <link href="styles\app.css" rel="stylesheet" />
</head>
<body>
    <!--<NAV_BAR>-->
    <nav class="navbar navbar-inverse navbar-fixed-top noprint">
        <div class="container-fluid">
            <ul class="nav navbar-nav nav-tabs" id="ulNavTabs">
                <li><a role="presentation" id="btnShowFormatted" class="active"><i class="fa fa-eye" title="Read Formatted"></i> Read</a></li>
                <li><a role="presentation" id="btnEditMarkdown"><i class="fa fa-edit" title="Edit Markdown"></i> Edit</a></li>
            </ul>
            <div class="navbar-text" id="h4MdPath"></div>
            <ul class="nav navbar-nav navbar-right nav-pills">
                <li>
                    <a role="presentation" class="btnOpenMarkdown"><i class="fa fa-folder-open-o" title="Open Markdown File"></i></a>
                </li>
                <li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-floppy-o"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a id="btnSaveAsPDF">Save as PDF</a></li>
                        <li><a id="btnSaveAsHtml">Save as HTML</a></li>
                        <li><a id="btnSaveAsMarkdown">Save as Markdown</a></li>
                    </ul>
                </li>
                <li>
                    <a id="btnFind" role="presentation" title="Find text in file"><i class="fa fa-search"></i></a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-gear"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a id="btnShowDevTools">Open Dev-Tools</a></li>
                        <li><a id="btnAbout">About Markdown Viewer</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>
    <!--</NAV_BAR>-->
    <img src="images\Icon.png" id="imgIcon" />
    <div id="divMain" class="container">
        <div class="row">
            <div class='col-xs-12' id="divContent">
                <p class="bg-info">
                    <h1 class="text-muted">
                        Welcome to the Markdown Viewer!
                    </h1>
                    <a role="presentation" class="btn btn-primary btnOpenMarkdown">
                        <i class="fa fa-folder-open-o" title="Open Markdown File"></i>
                        Open Markdown File
                    </a>
                    <br />
                    <br />
                    <i class="fa fa-file-text-o">&nbsp;</i>
                    You can also drag a markdown file over this Window.
                </p>
            </div>
        </div>
    </div>    
    <div id="divAlert" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p id="divAlertMessage">One fine body&hellip;</p>
                </div>
                <div class="modal-footer" id="divCloseButton">                    
                    <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary btn-lg">Close</button>                    
                </div>
            </div>
        </div>
    </div>
    <script src="scripts\jquery.js"></script>
    <script src="scripts\bootstrap.min.js"></script>
    <script src="scripts\shCore.js"></script>
    <script src="scripts\shAutoloader.js"></script>
    <script src="scripts\simplemde.min.js"></script>
    <script>window.loadBrushes = function () { SyntaxHighlighter.autoloader('{{{SYNTAX_AUTOLOADER}}}'); };</script>
    <script src="scripts\app.js"></script>
</body>
</html>
